DATABASE_SOURCE=mssql
DATABASE_URL="sqlserver://localhost:1433;database=job_search;integratedSecurity=true;trustServerCertificate=true"
DATABASE_SERVER="localhost"
DATABASE_PORT=1433
DATABASE_NAME="job_search"
DATABASE_USERNAME=""
DATABASE_PASSWORD=""
DATABASE_DOMAIN="General"


APP_KEY=""
APP_SECRET=""
